main {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.biography {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}

.card {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 48%;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}

img {
  width: 100%;
  padding: 0px;
  margin: auto;
}
.img_photo {
  border: 1px solid black;
  border-radius: 10px;
}

.text {
  background-color: rgb(173, 173, 173);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}

.p_biographyPage {
  font-family: Bradley Hand ITC, Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  -webkit-user-select: none;
  user-select: none;
}

spam {
  font-weight: bold;
}

.img_biographyPage_icon {
  height: 1rem;
  display: inline;
  -webkit-user-select: none;
  user-select: none;
}
.p_biographyPage_date {
  display: inline;
  font-family: Bradley Hand ITC, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  -webkit-user-select: none;
  user-select: none;
}

.h3_biographyPage {
  font-family: Bradley Hand ITC, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}
