*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .paintings {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    background-image: repeating-linear-gradient(
      90deg,
      #fff,
      #fff 20px,
      #fbfbfb 20px,
      #fbfbfb 40px
    );
  }
  
  .card-painting {
    flex-basis: 0;
    flex-grow: 999;
    background-color: #fff;
    max-width: 90vw;
    min-width: 250px;
    border: 3px double black;
    border-radius: 1em;
    margin: 1em;
    padding: 10px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-content: space-between; */
  }
  
  .card-painting-photo {
    max-height:100%;
    max-width:100%;
    display: flex;
    justify-content: center;
  }
  .card-img {
    object-fit: contain;
    width: 100%;
    height:auto;
    border-radius: 1em;
  }
  
  .card-painting-title {
    max-height:10%;
    display: flex;
    justify-content: center;
    margin: 15px auto 5px;
  }
  
  .painting-title {
    font-size: 1em;
    padding: 0px;
    margin: auto;
  }

  .super-img {
    width: auto;
    height:auto;
    max-height:99%;
    max-width:98%;
  }