.poem {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    background-image: repeating-linear-gradient(
      90deg,
      #fff,
      #fff 20px,
      #fbfbfb 20px,
      #fbfbfb 40px
    );
  }
  
  .card-poem {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 44%;
    background-color: rgba(226, 225, 224, 0.534);
    /* display: inline-block; */
    border: 3px double black;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
  }
  
  .card-poem-photo {
    display: flex;
    justify-content: center;
  }
  
  .card-poem-title {
    display: flex;
    justify-content: center;
  }
  .card-poem-title {
    padding: 0px;
    margin: 1em;
  }
  .poem-title {
    font-size: 1em;
    -webkit-user-select: none;
    user-select: none;
  }
  .card-poem-poem {
    padding: 0px;
    margin: 1em;
  }
  .poem-poem {
    font-size: 1em;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    overflow: auto;
  }